body {
    background-color: var(--primary-bg-color) ;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

address {
    font-style: normal;
  }

  p {
    margin: 0;
  }

  button {
    font-family: inherit;
    padding: 0;
    margin: 0;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border-radius: 4px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
    
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.page-header__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-footer__container {
    display: flex;
    align-items: baseline;
    flex-basis: calc((50% - 45px) / 2);
}